<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <!--icons css file (all.min.css)-->
    <link rel="stylesheet" href="BOOTSTRAP/all.min.css">
    <!--bootstrap css and js files-->
    <link rel="stylesheet" href="BOOTSTRAP/bootstrap.css">
    <script src="BOOTSTRAP/bootstrap.js"></script>
    <!--google fonts links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&display=swap" rel="stylesheet">
    <!--progress bar css file (user-defined)-->
    <link rel="stylesheet" href="CSS/signup.css">

</head>

<body class="bg-light   ">
    <div class="container">


        <!--Form-1-->
        <div class="form-1" id="form-1">
            <section class="step-wizard col-4 m-auto">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item current-item">
                        <span class="progress-count">1</span>
                        <span class="progress-label">Personal Details</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Create Password</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Pin Generation</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Success</span>
                    </li>
                </ul>
            </section>



            <div class=" row  mb-5">
                <div class="inner-div col-4 bg-white m-auto rounded-5">
                    <h2 class="text-center heading">Sign Up </h2>
                    <form action="signup.php" method="post">
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input type="text" class="fname-input form-control" id="fname" placeholder="First Name" name="fname">
                        </div>

                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email1234@mail.com" id="email">
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                            <input type="tel" class="form-control" placeholder="Mobile Number" id="mno">
                        </div>
                        <div class="gender mt-4 input-group ">
                            <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i></span>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Others</option>
                            </select>
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
                            <input type="date" class="form-control">
                        </div>
                        <div class="mb-3 mt-4">
                            <label for="formFileSm" class="form-label">Profile Photo</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                        </div>
                        <div class="address-div ">
                            <label for="address" class="form-label">Present Address</label>
                            <textarea class="form-control" name="address" id="address" cols="38" rows="5"></textarea>
                        </div>
                        <div class="mt-4 text-center">
                            <input type="submit" class="btn btn-primary " value="Sign Up" />
                        </div>
                        <hr>
                        <div class="login-link">
                            <label for="">Already have an account?</label>
                            <a href="login.html">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Form-2-->
        <div class="form-2" id="form-2">
            <section class="step-wizard col-4 m-auto">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item">
                        <span class="progress-count">1</span>
                        <span class="progress-label">Personal Details</span>
                    </li>
                    <li class="step-wizard-item current-item">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Create Password</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Pin Generation</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Success</span>
                    </li>
                </ul>
            </section>

            <div class=" row  mb-5">
                <div class="inner-div col-4 bg-white m-auto rounded-5    ">
                    <h2 class="text-center heading">Create Password</h2>
                    <form action="signup.php">
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="pin1">
                        </div>

                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <input type="password" class="form-control" id="Re-password"
                                placeholder="Re-Enter Password">
                        </div>
                        <div class="mt-4 mb-4 text-center">
                            <input type="submit" class="btn btn-primary" value="Confirm Password" onclick="form2_click()"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>



        <!--Form-3-->
        <div class="form-3" id="form-3">

            <section class="step-wizard col-4 m-auto">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item">
                        <span class="progress-count">1</span>
                        <span class="progress-label">Personal Details</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Create Password</span>
                    </li>
                    <li class="step-wizard-item current-item">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Pin Generation</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Success</span>
                    </li>
                </ul>
            </section>

            <div class=" row  mb-5">
                <div class="inner-div col-4 bg-white m-auto rounded-5    ">
                    <h2 class="text-center heading">Pin Generation</h2>
                    <form action="#">
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                            <input type="password" class="form-control" id="pin1" placeholder="Pin">
                        </div>

                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                            <input type="password" class="form-control" id="pin1" placeholder="Re-Enter Pin">
                        </div>

                        <div class="mt-4 mb-4 text-center">
                            <input type="submit" class="btn btn-primary " value="Confirm Pin" onclick="form3_click()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


    <script>
        var form1 = document.getElementById('form-1');
        var form2 = document.getElementById('form-2');
        var form3 = document.getElementById('form-3');
       
        function form1_click(){
            form1.style.display = "none";
            form2.style.display = "block" ;
        }
        function form2_click(){
            
            form3.style.display = "block";
        }
       
    </script>
    <script src="js/signup.js"></script>
    <script defer src="js/bootstrap.bundle.min.js"></script>
</body>

</html>